<a href="https://colab.research.google.com/github/MaheswaraPradeep/python-new/blob/module-1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Accept input from user and store it in variable and print the value.

In [ ]:
a=int(input("Enter a number:"))
print(a)

Enter a number:25
25

## Use of print statements and use of (.format )for printing different data types

In [ ]:
a=20
b=30
c="Hello world"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

## Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output (Same operations on floating point input as well)

In [ ]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
sum=a+b
print(sum)
mul=a*b
print(mul)
div=b/a
print(div)
sub=b-a
print(sub)
rem=b%a
print(rem)

Enter a number:2
Enter a number:45
47
90
22.5
43
1

### using float input

In [ ]:
a=float(input("Enter a number:"))
b=float(input("Enter a number:"))
sum=a+b
print(sum)
mul=a*b
print(mul)
div=b/a
print(div)
sub=b-a
print(sub)
rem=b%a
print(rem)

Enter a number:2.5
Enter a number:20.0
22.5
50.0
8.0
17.5
0.0

## Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
a=int(input("Enter number of hours:")) # hours to minutes unit conversion 
b=a*60
print(b,"Minutes")

Enter number of hours:3
180 Minutes

In [ ]:
a=int(input("Enter number of miles:")) # miles to km
b=a*1.6
print(b,"kilometers")

Enter number of miles:3
4.800000000000001 kilometers

### Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt

In [ ]:
import math
print(math.ceil(1.2))
print(math.ceil(-4.9))
print(math.floor(3.9))
print(math.floor(-6.1))
print(math.fabs(-44.3))
print(math.fabs(-9.0))
print(math.fmod(20,6))
print(math.fmod(40,8))
print(math.trunc(8.333))
print(math.trunc(-99.65))
print(math.pow(25,2))
print(math.sqrt(225))

2
-4
3
-7
44.3
9.0
2.0
0.0
8
-99
625.0
15.0

## Calculator using conditional operators

In [ ]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=str(input("Enter an operator:"))
if c=="+":
  print(a+b)
elif c=="-":
  print(a-b) 
elif c=="*":
  print(a*b)  
elif c=="/":
  print(a/b) 
else:
  print("You HAVE ENTERED THE WRONG OPERATOR")

Enter a number493
Enter a number433
Enter an operator:+
926

# Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
a=int(input("Enter maths marks"))
b=int(input("Enter science number"))
c=int(input("Enter social number"))
d=int(input("Enter telugu number"))
e=int(input("Enter english number"))
avg=(a+b+c+d+e)/5
print(avg)
if avg>=90 and avg<=100:
  print("A+")
elif avg>=89 and avg<=80:
  print("A")
elif avg>=79 and avg<=70:
  print("B+") 
elif avg>=69 and avg<=60:
  print("B")  
elif avg>=59 and avg<=50:
  print("C+")
elif avg>=49 and avg<=40:
  print("C") 
elif avg>=39 and avg<=35:
  print("D")     
else:
  print("F")

Enter maths marks90
Enter science number98
Enter social number99
Enter telugu number100
Enter english number96
96.6
A+

# Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [ ]:
e=0
o=0
print("even numbers:")
for i in range(1,100):
  if (i%2==0):
    print(i)
    e=e+1
print("No of even numbers are",e)    
  
print("odd numbers:")
for i in range(1,100):
  if (i%2!=0):
    print(i)
    o=o+1
print("No of odd numbers are",o)

even numbers:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
No of even numbers are 49
odd numbers:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
No of odd numbers are 50

## Factorial of a number

In [ ]:
num=int(input("Enter a number"))
fact=1
if (num>0):
  for i in range(1,num+1):
    fact=fact*i
  print(fact)
elif (num==0):
  print("Factorial of the 0 is 1")  
else:
  print("The entered number is a negative number")

Enter a number5
120

## GCD OF TWO NUMBERS

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
i=1
while(i<=a and i<=b):
  if(a%i==0 and b%i==0):
    gcd=i
  i=i+1
print("GCD is",gcd)

Enter a number3
Enter a number5
GCD is 1

## Palindrome or not

In [ ]:
a=int(input("Enter a number:"))
reverse=0
org=a
while(a!=0):
  remainder=a%10
  reverse=reverse*10+remainder
  a=int(a/10)
if (org==reverse):
  print("given number is palindrome")
else:
  print('Not a palindrome')

Enter a number:111
given number is palindrome

## Strong number or not

In [ ]:
a=int(input("Enter a number:"))
f=1
e=0
c=a
while(a!=0):
  rem=a%10
  for i in range(1,rem+1):
    f=f*i
  e=e+f
  a=int(a/10)
  f=1
if(c==e):
  print("Strong number")
else:
  print("Not strong number")

Enter a number:145
Strong number

## Perfect number or not

In [ ]:
n=int(input("Enter a number"))
a=n
sum=0
for i in range(1,n):
  if (n%i==0):
     sum=sum+i
if (sum==a):
  print("Perfect number")
else:
  print("Not a perfect number")

Enter a number28
Perfect number

## Compound interst

In [ ]:

import math
p=int(input("Enter the pricipal amount:"))
r=int(input("Enter the rate of interst:"))
t=int(input("Enter the time:"))
x=1+r/100
CI=p*pow(x,t)
print(CI)

Enter the pricipal amount:1000
Enter the rate of interst:5
Enter the time:2
1102.5

## Fibonacci series

In [ ]:
num = int(input("Enter the Number:"))
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Enter the Number:5
Fibonacci Series: 0 1 1 2 3