<a href="https://colab.research.google.com/github/MaheswaraPradeep/python-new/blob/module-2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def ncr(n,r):
  return(fact(n)/(fact(r)
                *fact(n-r)))
n=int(input("Enter number:")) 
r=int(input("Enter a number:"))
def fact(n):
  result=1
  for i in range(2,n+1):
    result=result*i
  return result 
print(int(ncr(n,r)))

Enter number:5
Enter a number:1
5

## Recursive function to compute GCD of 2 numbers

In [ ]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
if a<b:
  min=a
  max=b
else:
  max=a
  min=b
def gcd(max,min):
  if min==0:
    return max
  else:
    return gcd(min,max%min)
res=gcd(max,min)    
print("The gcd of the two numbers is",res)

Enter a number:5
Enter a number:3
The gcd of the two numbers is 1

## Recursive function to find product of two numbers

In [ ]:
x=int(input("Enter a number:"))
y=int(input("Enter a number:"))
def prod(x,y):
  if x<y:
    return prod(y,x)
  elif (y!=0):
    return (x+prod(x,y-1)) 
  else:
    return 0
res=prod(x,y)    
print("Product of two numbers is",res)

Enter a number:32
Enter a number:12
Product of two numbers is 384

## Recursive function to generate Fibonacci series

In [ ]:
p=int(input("Enter a number:"))
def feb(p):
  if p==0:
    return p
  elif p==1:
    return p
  else:
    return feb(p-1)+feb(p-2)
for i in range (p):
  print(feb(i))

Enter a number:7
0
1
1
2
3
5
8

## Program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
pradeep=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
pradeep.remove('Red')
del pradeep[3:5]
print(pradeep)

['Green', 'White', 'Black']

## Program to get the difference between the two lists.

In [ ]:
pradeep=["Hi",123,321,44,54]
you=[123,321,9032]
a=set(pradeep)
b=set(you)
c=a.symmetric_difference(b)
print(list(c))

[9032, 'Hi', 44, 54]

## Program to find the second smallest number and second largest number in a list.

In [ ]:
a=[23,43,433,64,87]
a.sort()
print(a)
print("The second largest element in the list is:",a[-2])
print("The second smallest element in the list is:",a[1])

[23, 43, 64, 87, 433]
The second largest element in the list is: 87
The second smallest element in the list is: 43

# Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number

In [ ]:
pradeep=[21,22,25,30,45]
print(pradeep)
print("The list of tuples is:")
res=[(x,pow(x,2)) for x in pradeep ]
print(res)

[21, 22, 25, 30, 45]
The given list of tuples is:
[(21, 441), (22, 484), (25, 625), (30, 900), (45, 2025)]

## Given list of tuples, remove all the tuples with length K

In [ ]:
pradeep=[(4,5),(4,),(8,6,7),(1,),(3,4,6,7)]
print(pradeep)
k=2
print(k)
you=[x for x in pradeep if len(x) !=k]
print(you)

## Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

In [ ]:
n=int(input("Enter a number"))
h=dict()
for x in range(1,n+1):
  h[x]=x*x
print(h)

Enter a number12
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

## Program to remove a key from a dictionary

In [ ]:
pradeep={
    "song":"Arabic kuthu",
    "movie":"Beast",
    "singers":"Anirudh",
    "Release date":2022
}
pradeep.pop("singers")
print(pradeep)

{'song': 'Arabic kuthu', 'movie': 'Beast', 'Release date': 2022}

## Program to get the maximum and minimum value in a dictionary.

In [ ]:
pradeep={
    "a":12,
    "b":13,
    "c":23,
    "d":4
}
maxim_value=max(pradeep,key=pradeep.get)
min_value=min(pradeep,key=pradeep.get)
print("The maximum value in the dictionary is")
print(maxim_value,":",pradeep[maxim_value])
print("The minimum value in the dictionary is")
print(min_value,":",pradeep[min_value])

The maximum value in the dictionary is
c : 23
The minimum value in the dictionary is
d : 4

### Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

In [ ]:
pradeep=input("Enter a string:")
c=pradeep.encode()
print(c)
a=pradeep.split()
print(a)
print(pradeep[3:10])

Enter a string:Hello sir
b'Hello sir'
['Hello', 'sir']
lo sir

## Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

In [ ]:
a="Rabbit"
print("In rabbit \"b\" has repeated",a.count("b"),"times")
x="I have to go to a doctor and get myself checked"
print("In the above sentence \"to\" has repeated",x.count("to"),"times")

In rabbit "b" has repeated 2 times
In the above sentence "to" has repeated 3 times

## Program for replacing one substring by another

In [ ]:
pradeep="Rabbit"
print(pradeep.replace("bb","cc"))

Raccit

# Program to Acronym generator for any user input

In [ ]:
a="Random Access Memory"
acr=""
for x in a:
  if x.isupper():
    acr=acr+x
print(acr)

RAM

## Python function that accepts a string and calculates the number of uppercase letters and lowercase letters

In [ ]:
a="Rise Roar Revolt"
upp=0
low=0

for x in a:
  if x.isupper():
    upp=upp+1 
  elif x.islower():
    low=low+1
  else:
    pass   
print("No of upper case letters are:",upp)   
print("No of lower case letters are:",low)

No of upper case letters are: 3
No of lower case letters are: 11

## Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [ ]:
pradeep= ['abc', 'xyz', 'aba', '1221'] 
count=0
for x in pradeep:
  if len(x)>1 and x[0]==x[-1]:
    print("The wanted strings are:",x)
    count=count+1
print("The number of strings with given conditions are:",count)

The wanted strings are: aba
The wanted strings are: 1221
The number of strings with given conditions are: 2