<a href="https://colab.research.google.com/github/MaheswaraPradeep/python-new/blob/module-3/module_3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## read an entire text file

In [ ]:
f=open("C:\\Users\lenovo\OneDrive\Desktop\hello.txt","r")
print(f.read())

Hi my name is pradeep.
i am learning python
it is very interseting

## read the first n lines of a file.

In [ ]:
f=open("C:\\Users\lenovo\OneDrive\Desktop\hello.txt","r")
print(f.readline())
print(f.readline())

Hi my name is pradeep.

i am learning python

## *append* text to a file and display the text

In [ ]:
f=open("C:\\Users\lenovo\OneDrive\Desktop\pradeep.txt","a")
print(f.write(" I love learning python"))
f.close()

23

In [ ]:
f=open("C:\\Users\lenovo\OneDrive\Desktop\pradeep.txt","r")
print(f.read())

 I love learning python

#Read numbers from a file and write even and odd numbers to separate files.

In [ ]:
f=open("C:\\Users\lenovo\OneDrive\Desktop\\numbers.txt","r")
for x in f:
    if (int(x)%2==0):
        f1=open("C:\\Users\lenovo\OneDrive\Desktop\even.txt","a")
        print(f1.write(x))
        f1.close()
    else:
        f2=open("C:\\Users\lenovo\OneDrive\Desktop\odd.txt","a")
        print(f2.write(x))
        f2.close()

2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3

In [ ]:
f1=open("C:\\Users\lenovo\OneDrive\Desktop\even.txt","r")
print(f1.read())
f1.close()

2
4
6
8
10
12
14
16
18
20

In [ ]:
f2=open("C:\\Users\lenovo\OneDrive\Desktop\odd.txt","r")
print(f2.read())
f2.close()

1
3
5
7
9
11
13
15
17
19

## Count characters, words and lines in a text file.

In [ ]:
nani=open("C:\\Users\lenovo\OneDrive\Desktop\hello.txt")
line=0
word=0
charac=0
for x in nani:
    line=line+1
    h=x.split()
    word=word+len(h)
    charac=charac+len(x)
print(line,word,charac)

3 17 89

## To write a list to a file.

In [ ]:
pradeep=["heloo","good bye","tata","see you"]
for x in pradeep:
    f=open("C:\\Users\lenovo\OneDrive\Desktop\list.txt","a")
    print(f.write(x))
    f.close()

5
8
4
7

In [ ]:
f=open("C:\\Users\lenovo\OneDrive\Desktop\list.txt","r")
print(f.read())
f.close()

heloogood byetatasee you

## Given a CSV file or excel file to read it into a dataframe and display it.

In [ ]:
import pandas as pd
p=pd.read_csv('C:\\Users\lenovo\OneDrive\Desktop\grade.csv')
h=pd.DataFrame(p)
print(h)

   S no         Name  Age  Gender       DOB                  Address  grade
0     1      Pradeep   18    male  17-12-04          mvp colon,vizag   9.33
1     2     Hemakesh   18    male  03-03-04           Gajuwaka,Vizag   8.17
2     3        Mohan   19    male  14-05-03                   kadapa   9.44
3     4      Sankalp   19    male  15-06-02                hyderabad   8.90
4     5  Subramanyam   18    male  21-12-03                   nelore   8.37
5     6        Rishi   18    male  12-04-03              chhatisgarh   9.78
6     7        Akash   18    male  21-06-03  visalakshi nagar, vizag   7.33
7     8    Prashanth   18    male  14-07-03      kukatpally,hyderaad   8.90
8     9     Harshini   18  female  15-08-03                    vizag   8.50
9    10      Jahnavi   19  female  12-01-03          Asilmetta,vizag   9.50

## Given a dataframe, select rows based on a condition

In [ ]:
m=h.loc[h['grade']>9]
print(m)

   S no     Name  Age  Gender       DOB          Address  grade
0     1  Pradeep   18    male  17-12-04  mvp colon,vizag   9.33
2     3    Mohan   19    male  14-05-03           kadapa   9.44
5     6    Rishi   18    male  12-04-03      chhatisgarh   9.78
9    10  Jahnavi   19  female  12-01-03  Asilmetta,vizag   9.50


#Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation.

In [ ]:
import pandas as pd
p=pd.read_csv('C:\\Users\lenovo\OneDrive\Desktop\occupation.csv')
print(p)
avg=p.groupby('Occupation')['Salary'].mean()
print(avg)

     Name             Occupation  Salary
0    Ravi      Software engineer   70000
1  Suresh               Mechanic   10000
2  Ramesh                 doctor   80000
3  Kamesh                 doctor  150000
4   Surya        Project manager  200000
5  vikram                 doctor   60000
6   vijay  Aeronautical engineer   50000
7  Charan      Software engineer  100000
Occupation
Aeronautical engineer     50000.000000
Mechanic                  10000.000000
Project manager          200000.000000
Software engineer         85000.000000
doctor                    96666.666667
Name: Salary, dtype: float64

## To convert Python objects into JSON strings. Print all the values

In [ ]:
import json
pradeep={
    "movie":"kgf2",
    "Hero":"Yash",
    "director":"neel",
    "Dialogue":"voilence voilence voilence"
}
nani=json.dumps(pradeep)
print(nani)

{"movie": "kgf2", "Hero": "Yash", "director": "neel", "Dialogue": "voilence voilence voilence"}

## Write a Pandas program to read specific columns from a given excel file.

In [ ]:
import pandas as pd
cols=[1,3,5]
p=pd.read_csv('C:\\Users\lenovo\OneDrive\Desktop\grade.csv',usecols=cols)
print(p)

          Name  Gender                  Address
0      Pradeep    male          mvp colon,vizag
1     Hemakesh    male           Gajuwaka,Vizag
2        Mohan    male                   kadapa
3      Sankalp    male                hyderabad
4  Subramanyam    male                   nelore
5        Rishi    male              chhatisgarh
6        Akash    male  visalakshi nagar, vizag
7    Prashanth    male      kukatpally,hyderaad
8     Harshini  female                    vizag
9      Jahnavi  female          Asilmetta,vizag